* {
    background-color: #aa7942;
    font-family: "VictorMono Nerd Font";
}

/* nav buttons */
#navButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    height: 100px;
    background-color: darkgreen;
    border: 16px ridge #7a4300;
}

.navBtn {
    font-family: "Iosevka Nerd Font";
    font-size: 24px;
    cursor: pointer;
    width: 150px;
    height: 58px;
    color: darkblue;
    font-weight: bold;
    border: 8px double navy;
}

.navBtn:hover {
    color: #aa7942;
    background-color: darkblue;
    text-decoration: underline;
    font-weight: bold;
    border: 10px groove #7a4300;
}

/* content */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 4px;
}

/* Homepage Content */
#title {
    text-decoration: underline;
    color: darkblue;
    font-size: 72px;
}

.sectionTitle {
    text-decoration: underline;
    color: navy;
    font-size: 60px;
    font-weight: bold;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px dotted #7a4300;
}

#aboutTitle {
    margin-top: 2px;
}

#aboutContent {
    max-width: 500px;
    margin: 32px;
    margin-top: -24px;
    font-size: 18px;
}

#hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoursContent {
    font-size: 18px;
    margin-top: -12px;
}

/* Menu content */
#menuSection {
    display: flex;
    flex-direction: column;
    margin-top: -12px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#itemTitle {
    font-size: 34px;
    color: #004100;
    text-decoration: underline;
}

#itemAbout {
    font-size: 20px;
}

.itemCard {
    display: flex;
    border: 10px solid #7a4300;
    max-width: 600px;
}

.itemContent {
    margin: 24px;
    display: flex;
    align-items: center;
}
#menuTitle {
    display: flex;
    justify-content: left;
    margin-top: -40px;
}

/* Contact page */
#nameContent {
    display: flex;
    gap: 125px;
    margin-top: 14px;
}

#rightNames,
#leftNames {
    display: flex;
    flex-direction: column;
    gap: 125px;
}

#nameCard {
    border: 12px ridge #004100;
    background-color: #7a4300;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -24px;
}

#name {
    font-size: 40px;
    text-decoration: underline;
    color: navy;
    background-color: #7a4300;
    font-family: MesloLGS Nerd Font;
}

#info {
    background-color: #7a4300;
    font-size: 24px;
    font-family: MesloLGS Nerd Font;
    margin: 10px;
}

.contactTitle {
    font-style: italic;
}
