* {
    background-color: #aa7942;
    font-family: "VictorMono Nerd Font";
}

/* nav buttons */
#navButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 100px;
    background-color: darkgreen;
    border: 5px solid saddlebrown;
}

.navBtn {
    font-family: "Iosevka Nerd Font";
    font-size: 24px;
    cursor: pointer;
    width: 150px;
    height: 58px;
    color: darkblue;
}

.navBtn:hover {
    color: white;
    background-color: darkblue;
}

/* content */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 4px;
}

/* Homepage Content */
#title {
    text-decoration: underline;
    color: darkblue;
    font-size: 72px;
}

.sectionTitle {
    text-decoration: underline;
    color: navy;
    font-size: 60px;
    font-weight: bold;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px dotted darkgreen;
    margin-top: -24px;
}

#aboutContent {
    max-width: 500px;
    margin: 32px;
    margin-top: -24px;
    font-size: 18px;
}

#hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoursContent {
    margin-top: 0px;
}

/* Menu content */
#menuSection {
    display: flex;
    flex-direction: column;
    margin-top: -12px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#itemTitle {
    font-size: 32px;
    color: navy;
    text-decoration: underline;
}

#itemAbout {
    font-size: 18px;
}

.itemCard {
    display: flex;
    border: 10px solid #7a4300;
    max-width: 600px;
}

.itemContent {
    margin: 24px;
    display: flex;
    align-items: center;
}
#menuTitle {
    display: flex;
    justify-content: left;
    margin-top: -40px;
}
